/* Variables Hamburger Menu*/
/* Variables Hamburger Menu*/
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #43A88F; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffff; }

.menu-wrap {
  display: none; }

.home {
  background: url(../imagenes/index_desk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -60px;
  margin-bottom: 0;
  height: 100vh;
  width: 100%; }
  .home h2, .home h3 {
    font-family: Fredericka the Great, montserrat;
    font-weight: 100;
    text-align: center; }

.top_icons {
  width: 100px;
  height: 150px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.instagram {
  width: 50px;
  height: auto;
  position: relative;
  top: 0; }

.uk_flag {
  width: 45px;
  height: auto; }

.gracias {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .gracias a {
    font-size: 22px;
    font-family: Fredericka the Great, montserrat;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    color: #ffff; }
  .gracias a:hover {
    text-decoration: underline 3px; }

.container_home {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .container_home nav {
    animation-delay: 1.5s;
    transition: 2s; }
  .container_home nav ul {
    width: 700px;
    height: 80px;
    margin-top: -90px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .container_home nav li {
    list-style: none;
    color: #ffff;
    font-style: normal;
    font-family: Fredericka the Great, montserrat;
    font-size: 26 px; }
    .container_home nav li a {
      color: #ffff;
      font-family: Fredericka the Great, montserrat;
      text-decoration: none;
      font-size: 20px; }
    .container_home nav li a:hover {
      border-bottom: 3px #fff solid;
      color: #fff; }
  .container_home h2 {
    font-size: 40px;
    margin-top: 10px;
    animation-delay: .5s;
    transition: 1s; }
  .container_home h3 {
    font-size: 30px;
    margin-top: -70px;
    animation-delay: .5s;
    transition: 1s; }
  .container_home .center-con {
    margin-top: -25px;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center; }
  .container_home .round {
    position: relative;
    border: 3px solid #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%; }
  .container_home span {
    z-index: 999;
    height: 3px;
    width: 22px;
    background: #fff;
    transition: 0.4s ease;
    margin-bottom: 5px; }
  .container_home span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%; }
  .container_home span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%; }
  .container_home .round:hover span:nth-child(1) {
    transform: rotate(-135deg); }
  .container_home .round:hover span:nth-child(2) {
    transform: rotate(135deg); }
  .container_home .round:hover span:nth-child(3) {
    transform: rotate(225deg); }
  .container_home .round:hover span:nth-child(4) {
    transform: rotate(-225deg); }

.seccion_2 {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

h4 {
  display: none; }

.foto_perfil {
  width: 130px;
  height: 130px;
  border-radius: 200px;
  overflow: hidden;
  margin-top: -30px; }
  .foto_perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -5px -20px;
    transform: scale(2); }

.apartados {
  height: 100%;
  width: 230%;
  background-color: #43A88F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .apartados h3 {
    color: white;
    text-align: center;
    font-family: Fredericka the Great, montserrat;
    font-size: 50px;
    margin-top: 80px; }
  .apartados img {
    width: 230px;
    height: auto;
    margin-left: 250px; }
  .apartados nav ul {
    width: 400px;
    height: 80px;
    margin-top: -90px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  .apartados nav li {
    text-align: center;
    list-style: none;
    color: #ffff;
    font-style: normal;
    font-family: Fredericka the Great, montserrat;
    font-size: 18px; }
    .apartados nav li a {
      color: #ffff;
      font-family: Fredericka the Great, montserrat;
      text-decoration: none;
      font-size: 20px; }
    .apartados nav li a:hover {
      border-bottom: 2px #fff solid;
      color: #fff; }

.personal_info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .personal_info .foto_perfil {
    width: 150px;
    height: 150px; }
  .personal_info .parrafo {
    width: 80%;
    height: 230px;
    color: #000;
    text-align: center;
    line-height: 28px;
    font-size: 14px; }
  .personal_info .trayectoria {
    width: 100%;
    height: 150px;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .personal_info .trayectoria h4 {
      margin-top: 10px;
      font-size: 16px;
      color: #cbcbcb; }
    .personal_info .trayectoria p {
      font-size: 14px;
      color: #cbcbcb;
      text-align: center; }

.seccion_3 {
  width: 100vw;
  height: 100vh;
  background-image: url(../imagenes/fondo_sitio2.jpg);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .seccion_3 .apartados {
    height: 100%;
    width: 40.7%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .seccion_3 .apartados h3 {
      text-align: center;
      margin-top: 80px;
      color: #000; }
    .seccion_3 .apartados img {
      width: 230px;
      height: auto;
      margin-right: 500px;
      transform: scaleX(-1); }
    .seccion_3 .apartados nav ul {
      width: 400px;
      height: 80px;
      margin-top: -90px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly; }
    .seccion_3 .apartados nav li {
      list-style: none;
      color: #000;
      font-style: normal;
      font-family: Fredericka the Great, montserrat;
      font-size: 18px; }
      .seccion_3 .apartados nav li a {
        color: #000;
        font-family: Fredericka the Great, montserrat;
        text-decoration: none;
        font-size: 20px; }
      .seccion_3 .apartados nav li a:hover {
        border-bottom: 2px #000 solid;
        color: #000; }

.container3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .container3 .gallery {
    width: 75%;
    height: 70%;
    text-align: center;
    display: inline;
    margin-top: -10px;
    margin-bottom: 20px; }
    .container3 .gallery img {
      transition: none;
      width: 230px;
      margin: 20px;
      border: solid #ffff 6px;
      transition: ease-in-out .8s; }
    .container3 .gallery img:hover {
      transform: scale(1.6);
      transition: 1.5s ease-in-out; }
  .container3 .galerias {
    width: 100%;
    height: 150px;
    display: inline; }
  .container3 .modales {
    width: 100%;
    height: 70px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .container3 .modales button {
      margin: 18px; }
    .container3 .modales .btn-primary {
      background-color: #fff;
      border: #3e9680 solid 2px;
      color: #3e9680; }
    .container3 .modales .btn-primary:hover {
      background-color: #3f9b84;
      color: #fff; }
    .container3 .modales .carousel-caption {
      height: 5px;
      text-align: center;
      background-color: #ffff;
      opacity: .6;
      color: #000; }
      .container3 .modales .carousel-caption h5 {
        font-family: montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        margin-top: -12px; }
  .container3 .modales2 {
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .container3 .modales2 button {
      margin: 12px; }
    .container3 .modales2 .btn-primary {
      background-color: #fff;
      border: #3e9680 solid 2px;
      color: #3e9680; }
    .container3 .modales2 .btn-primary:hover {
      background-color: #43A88F;
      color: #fff; }
    .container3 .modales2 .carousel-caption {
      height: 5px;
      text-align: center;
      background-color: #ffff;
      opacity: .7;
      color: #000; }
      .container3 .modales2 .carousel-caption h5 {
        font-family: montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        margin-top: -12px; }

.seccion_4 {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .seccion_4 h4 {
    display: none; }
  .seccion_4 .apartados {
    height: 100%;
    width: 61.7%;
    box-sizing: border-box;
    background-color: #43A88F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: -72px; }
    .seccion_4 .apartados h3 {
      text-align: center;
      margin-top: 20px;
      color: white;
      font-family: Fredericka the Great, montserrat;
      font-size: 40px;
      margin-top: 80px; }
    .seccion_4 .apartados img {
      width: 410px;
      height: auto;
      margin-left: 180px;
      margin-bottom: -53px; }
    .seccion_4 .apartados nav ul {
      width: 400px;
      height: 80px;
      margin-top: -90px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
    .seccion_4 .apartados nav li {
      list-style: none;
      color: #ffff;
      font-style: normal;
      font-family: Fredericka the Great, montserrat;
      font-size: 18px; }
      .seccion_4 .apartados nav li a {
        color: #ffff;
        font-family: Fredericka the Great, montserrat;
        text-decoration: none;
        font-size: 20px; }
      .seccion_4 .apartados nav li a:hover {
        border-bottom: 2px #fff solid;
        color: #fff; }

.formulario {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .formulario form {
    width: 60%;
    border: #43A88F dashed 2px;
    margin-top: 25px; }
  .formulario label {
    color: #000; }
  .formulario .inputs {
    border: #43A88F 2px solid; }
  .formulario form > div {
    margin-top: 30px; }
  .formulario div {
    text-align: center;
    margin: 15px 0px; }
    .formulario div input {
      width: 250px;
      height: 25px;
      border-radius: 4px;
      border: none; }
    .formulario div label {
      font-size: 15px;
      margin-bottom: 12px; }
    .formulario div textarea {
      width: 250px;
      height: 90px;
      border-radius: 5px;
      border: none; }
    .formulario div select {
      height: 25px;
      border-radius: 5px;
      border: none;
      margin-bottom: 10px; }
    .formulario div ::-webkit-input-placeholder {
      text-align: center;
      font-size: 15px; }
    .formulario div .btn-primary {
      background-color: #fff;
      color: #43A88F;
      border: #43A88F 3px solid;
      font-weight: 600; }
    .formulario div .btn-primary:hover {
      background-color: #43A88F;
      border: #43A88F 3px solid;
      color: #fff;
      font-weight: 600; }
  .formulario .redes {
    width: 50%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .formulario .redes img {
      width: 50px;
      margin: 10px; }
  .formulario .redes_mobile {
    display: none; }

footer {
  height: 60px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center; }
  footer p {
    margin-top: 12px;
    font-size: 12px;
    color: #ffff;
    text-align: center; }

@media only screen and (max-width: 420px) {
  .menu-wrap {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1; }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0; }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 53px;
    height: 53px;
    padding: 1rem;
    border-radius: 100px;
    background-color: #bdb6a9;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center; }
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease; }
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    width: 100%;
    height: 2px;
    background: inherit; }
  .menu-wrap .hamburger > div:after {
    top: 8px; }
  .menu-wrap .toggler:checked + .hamburger {
    background-color: rgba(67, 168, 143, 0); }
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg); }
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg); }
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible; }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.6s; }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease; }
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
  .menu-wrap .menu > div {
    background: rgba(67, 168, 143, 0.9);
    border-radius: 50%;
    width: 250vw;
    height: 250vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease; }
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease; }
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 1.5rem;
    padding: 2.5rem; }
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    font-family: Fredericka the Great, montserrat;
    transition: color 0.4s ease; }
  .apartados img {
    display: none; }
  .apartados {
    height: 80px;
    width: 100vw;
    text-align: center; }
  .seccion_2 {
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .seccion_2 h3 {
      margin-top: 35px;
      color: #fff;
      font-family: Fredericka the Great, montserrat;
      font-size: 35px; }
    .seccion_2 .foto_perfil {
      width: 115px;
      height: 115px;
      border-radius: 200px;
      overflow: hidden;
      margin-top: -30px; }
      .seccion_2 .foto_perfil img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -5px -20px;
        transform: scale(2); }
    .seccion_2 .parrafo {
      width: 90%;
      height: 40%;
      margin-top: -20px;
      margin-bottom: -20px;
      line-height: 20px; }
      .seccion_2 .parrafo p {
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-family: montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 100;
        margin: 0 10px; }
    .seccion_2 .trayectoria {
      width: 100%;
      height: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: solid 3px #fff;
      border-bottom: solid 3px #fff;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #43A88F; }
      .seccion_2 .trayectoria h4 {
        display: block;
        font-size: 14px;
        color: #fff; }
      .seccion_2 .trayectoria p {
        font-size: 11px;
        padding-left: 14px;
        padding-right: 14px;
        text-align: center;
        color: #fff; }
  .seccion_3 {
    width: 100vw;
    height: 275vh;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/imagenes/fondo_sitio.jpg);
    background-size: cover; }
    .seccion_3 .apartados {
      display: none; }
    .seccion_3 h4 {
      display: block;
      color: #ffff;
      font-family: Fredericka the Great, montserrat;
      font-size: 35px;
      margin-top: 50px;
      margin-bottom: 25px; }
    .seccion_3 p {
      color: #000; }
    .seccion_3 .container3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .seccion_3 .container3 .gallery {
        text-align: center; }
      .seccion_3 .container3 .gallery img {
        transition: none;
        width: 250px;
        margin: 15px;
        border: solid #ffff 6px; }
      .seccion_3 .container3 #ovalado {
        border: none; }
      .seccion_3 .container3 .galerias {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: -100px;
        width: 100%;
        height: 800px;
        padding-top: 12px; }
        .seccion_3 .container3 .galerias .modales {
          height: 60px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
        .seccion_3 .container3 .galerias .modales2 {
          height: 60px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
        .seccion_3 .container3 .galerias .btn-primary {
          background-color: #43a88f;
          border: none;
          color: #ffff;
          width: 100%;
          font-weight: bold;
          border-radius: 0px; }
  .seccion_4 {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .seccion_4 .apartados {
      display: none; }
    .seccion_4 h4 {
      display: block;
      margin-top: 50px;
      margin-bottom: 20px;
      color: white;
      font-family: Fredericka the Great, montserrat;
      font-size: 35px; }
    .seccion_4 form {
      width: 90%;
      height: 85%;
      border: white dashed 2px;
      margin-top: 15px; }
    .seccion_4 form > div {
      margin-top: 20px; }
    .seccion_4 div {
      text-align: center;
      margin: 15px 0px; }
      .seccion_4 div input {
        width: 250px;
        height: 25px;
        border-radius: 4px;
        border: none; }
      .seccion_4 div label {
        font-size: 15px;
        margin-bottom: 12px;
        color: #ffff; }
      .seccion_4 div textarea {
        width: 250px;
        height: 90px;
        border-radius: 5px;
        border: none; }
      .seccion_4 div select {
        height: 25px;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px; }
      .seccion_4 div ::-webkit-input-placeholder {
        text-align: center;
        font-size: 15px; }
      .seccion_4 div .btn-primary {
        background-color: #43a88f;
        color: #ffff;
        border: #ffff 3px solid;
        font-weight: 600; }
    .seccion_4 .redes {
      display: none; }
    .seccion_4 .redes_mobile {
      width: 50%;
      height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .seccion_4 .redes_mobile img {
        width: 40px;
        margin: 15px; }
  footer {
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    margin-top: 20px; }
    footer p {
      margin-top: 12px;
      font-size: 10px;
      color: #ffff;
      text-align: center; }
  body {
    background-color: #43A88F; }
  nav {
    display: none; }
  .instagram {
    width: 50px;
    height: auto;
    position: relative;
    top: 0; }
  .home {
    background: url(../imagenes/fodo_index.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%; }
    .home h2, .home h3 {
      font-family: Fredericka the Great, montserrat;
      font-weight: 100;
      text-align: center; }
  .home_desk {
    display: none; }
  .container_home {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .container_home h2 {
      font-size: 40px;
      margin-top: -190px; }
    .container_home h3 {
      font-size: 30px;
      margin-top: -120px; }
    .container_home .center-con {
      margin-top: -25px;
      display: flex;
      height: 5vh;
      align-items: center;
      justify-content: center; }
    .container_home .round {
      position: relative;
      border: 3px solid #fff;
      width: 80px;
      height: 80px;
      border-radius: 100%; }
    .container_home span {
      z-index: 0;
      height: 3px;
      width: 24px;
      background: #fff;
      transition: 0.4s ease;
      margin-bottom: 5px; }
    .container_home span:first-child {
      display: block;
      position: absolute;
      transform: rotate(45deg);
      left: 25%;
      bottom: 35%; }
    .container_home span:nth-child(2) {
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      left: 45%;
      bottom: 35%; }
    .container_home .round:hover span:nth-child(1) {
      transform: none; }
    .container_home .round:hover span:nth-child(2) {
      transform: none; }
    .container_home .round:hover span:nth-child(3) {
      transform: none; }
    .container_home .round:hover span:nth-child(4) {
      transform: none; } }

@media only screen and (max-width: 376px) {
  body {
    background-color: #43A88F; }
  nav {
    display: none; }
  .instagram {
    width: 40px;
    height: auto;
    position: relative;
    top: 0; }
  .uk_flag {
    width: 35px;
    height: auto; }
  .home {
    background: url(../imagenes/fodo_index.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%; }
    .home h2, .home h3 {
      font-family: Fredericka the Great, montserrat;
      font-weight: 100;
      text-align: center; }
  .home_desk {
    display: none; }
  .container_home {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .container_home h2 {
      font-size: 30px;
      margin-top: -250px; }
    .container_home h3 {
      font-size: 25px;
      margin-top: -200px; }
    .container_home .center-con {
      margin-top: -100px;
      display: flex;
      height: 5vh;
      align-items: center;
      justify-content: center; }
    .container_home .round {
      position: relative;
      border: 3px solid #fff;
      width: 80px;
      height: 80px;
      border-radius: 100%; }
    .container_home span {
      z-index: 0;
      height: 3px;
      width: 24px;
      background: #fff;
      transition: 0.4s ease;
      margin-bottom: 5px; }
    .container_home span:first-child {
      display: block;
      position: absolute;
      transform: rotate(45deg);
      left: 25%;
      bottom: 35%; }
    .container_home span:nth-child(2) {
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      left: 45%;
      bottom: 35%; }
  .trayectoria {
    margin-top: 60px; }
    .trayectoria h4 {
      padding-top: 10px;
      display: block;
      color: white; }
    .trayectoria p {
      margin-top: 5px; }
  .seccion_3 {
    width: 100vw;
    height: 295vh;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/imagenes/fondo_sitio.jpg);
    background-size: cover; }
  .seccion_4 {
    height: 103vh; }
    .seccion_4 h4 {
      margin-top: 80px; }
    .seccion_4 form {
      margin-top: 0px; } }
