.seccion_4 {
    width: 100vw;
    height: 750px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .apartados {
        display: none;
    }

    h4 {
        display: block;
        margin-top: 50px;
        margin-bottom: 20px;
        color: white;
        font-family: Fredericka the Great, montserrat;   
        font-size: 35px;  
    }

    form {
        width: 90%;
        height: 85%;
        border: white dashed 2px;
        margin-top: 15px;
    }

    form > div {
        margin-top: 20px;
    }

    div {
        text-align: center;
        margin: 15px 0px;

        input {
            width: 250px;
            height: 25px;
            border-radius: 4px;
            border: none;
        }

        label {
            font-size: 15px;
            margin-bottom: 12px;
            color: #ffff;
        }

        textarea {
            width: 250px;
            height: 90px;
            border-radius: 5px;
            border: none;
        }

        select {
            height: 25px;
            border-radius: 5px;
            border: none;
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            text-align: center;
            font-size: 15px;
         }

         .btn-primary {
            background-color: rgb(67, 168, 143);
            color: #ffff;
            border: #ffff 3px solid;
            font-weight: 600;
        }  
    }

    .redes {
        display: none;
    }
  
    .redes_mobile {
        width: 50%;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        img {
            width: 40px;
            margin: 15px;
        }
    }
}

footer {
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    margin-top: 20px;

    p {
        margin-top: 12px;
        font-size: 10px;
        color: #ffff;
        text-align: center;
    }
}