/* Variables Hamburger Menu*/ 
$overlay-color: rgba(67, 168, 143, .9);
$menu-speed:0.60s;
/* Variables Hamburger Menu*/ 

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #43A88F;
}

@import "desktop";


// iphone 6/7/8 plus 

@media only screen and (min-width: 330px) and (max-width: 500px) {


    body {
        background-color: #43A88F;
    }

    nav{
        display: none;
    }

    .instagram {
        width: 50px;
        height: auto;
        position: relative;
        top: 0;
    }

    .home {
        background: url(../imagenes/fodo_index.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;

        h2, h3 {
            font-family: Fredericka the Great, montserrat;
            font-weight: 100;
            text-align: center;
        }
    }

    .home_desk {
        display: none;
    }

    .container_home {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 35px;
            margin-top: -215px;
        }

        h3 {
            font-size: 25px;
            margin-top: -155px;
        }


        .center-con {
            margin-top: -100px;
            display: flex;
            height: 5vh;
            align-items: center;
            justify-content: center;
        }
        
        .round {
            border: none;
        }
        
        span {
            z-index: 0;
            height: 3px;
            width: 24px;
            background: #fff;
            transition: none;
            margin-bottom: 5px;
        }
        
        span:first-child {
            display: block;
            position: absolute;
            transform: rotate(45deg);
            left: 25%;
            bottom: 35%;
        }
        
        span:nth-child(2) {
            display: block;
            position: absolute;
            transform: rotate(-45deg);
            left: 45%;
            bottom: 35%;
        }

        .round:hover span:nth-child(1) {
            transform: none;
        }
        
        .round:hover span:nth-child(2) {
            transform: none;
        }
        
        .round:hover span:nth-child(3) {
            transform: none;
        }
        
        .round:hover span:nth-child(4) {
            transform: none;
        }
    }

    @import "hamburger_menu";
    @import "sobre_mi";
    @import "obras";
    @import "contacto";


    // ---------------- Animaciones ---------------------
    .animate__fadeIn {
        animation: none;
    }

    .animate__slideInRight {
        animation: none;
    }

    .animation {
        animation: pulse 2s 1s linear  infinite;
        animation-delay: 2s;
    }
    @keyframes pulse{
        0% {
            transform: scale(.8);
        }

        70% {
            transform: scale(1);
        }

        100% {
            transform: scale(.8);
        }
    }

}